<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.2.xsd
		http://code.alibabatech.com/schema/dubbo http://code.alibabatech.com/schema/dubbo/dubbo.xsd
        http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-4.2.xsd
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.2.xsd">

	<context:component-scan base-package="com.qianqi.edu.laboratory.controller" />
	<mvc:annotation-driven />
	<bean
		class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<property name="prefix" value="/WEB-INF/jsp/" />
		<property name="suffix" value=".jsp" />
	</bean>
	<!-- 配置资源映射 -->
	<mvc:resources location="/css/" mapping="/css/**"/>
	<mvc:resources location="/js/" mapping="/js/**"/>
	<!-- 拦截器配置 -->
	<mvc:interceptors>
		<mvc:interceptor>
			<mvc:mapping path="/**"/>
			<mvc:exclude-mapping path="/**/fonts/*"/>
			<mvc:exclude-mapping path="/**/*.css"/>
			<mvc:exclude-mapping path="/**/*.js"/>
			<mvc:exclude-mapping path="/**/*.png"/>
			<mvc:exclude-mapping path="/**/*.gif"/>
			<mvc:exclude-mapping path="/**/*.jpg"/>
			<mvc:exclude-mapping path="/**/*.jpeg"/>
			<mvc:exclude-mapping path="/**/*login*"/>
			<mvc:exclude-mapping path="/**/*Login*"/>
			<mvc:exclude-mapping path="/user/**"/>
			<bean class="com.qianqi.edu.laboratory.interceptor.LoginInterceptor"/>
		</mvc:interceptor>
	</mvc:interceptors>
	
	 <!-- 配置文件上传，如果没有使用文件上传可以不用配置，当然如果不配，那么配置文件中也不必引入上传组件包 -->  
    <bean id="multipartResolver"    
        class="org.springframework.web.multipart.commons.CommonsMultipartResolver">    
        <!-- 默认编码 -->  
        <property name="defaultEncoding" value="utf-8" />    
        <!-- 文件大小最大值 -->  
        <property name="maxUploadSize" value="10485760000" />    
        <!-- 内存中的最大值 -->  
        <property name="maxInMemorySize" value="40960" />    
    </bean>   
	
	<!-- 引用dubbo服务 -->
	<dubbo:application name="edu-laboratory"/>
	<dubbo:registry protocol="zookeeper" address="127.0.0.1:2181"/>	
	<dubbo:reference interface="com.qianqi.edu.service.UserService" id="userService" />
	<dubbo:reference interface="com.qianqi.edu.service.SsoService" id="ssoService" />
	<dubbo:reference interface="com.qianqi.edu.service.QuestionService" id="questionServiceImpl" />
	<dubbo:reference interface="com.qianqi.edu.service.GradeService" id="gradeServiceImpl" />
	<dubbo:reference interface="com.qianqi.edu.service.SubjectService" id="subjectServiceImpl" />
	<dubbo:reference interface="com.qianqi.edu.service.SearchService" id="searchServiceImpl" />
	<dubbo:reference interface="com.qianqi.edu.service.KnowledgeService" id="knowledgeServiceImpl" />
	<dubbo:reference interface="com.qianqi.edu.service.TeacherService" id="teacherServiceImpl" />
	<dubbo:reference interface="com.qianqi.edu.service.SchoolService" id="schoolServiceImpl" />
	<dubbo:reference interface="com.qianqi.edu.service.TclassService" id="tclassServiceImpl" />
	<dubbo:reference interface="com.qianqi.edu.service.PaperService" id="paperServiceImpl" />
</beans>