<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.qianqi.edu.mapper.QuestionSingleMapper" >
  <resultMap id="BaseResultMap" type="com.qianqi.edu.pojo.QuestionSingle" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="answer" property="answer" jdbcType="VARCHAR" />
    <result column="score" property="score" jdbcType="INTEGER" />
    <result column="teacher_id" property="teacherId" jdbcType="BIGINT" />
    <result column="subject_id" property="subjectId" jdbcType="INTEGER" />
    <result column="grade_id" property="gradeId" jdbcType="INTEGER" />
    <result column="difficult" property="difficult" jdbcType="INTEGER" />
    <result column="knowledge_point" property="knowledgePoint" jdbcType="VARCHAR" />
    <result column="normal_time" property="normalTime" jdbcType="INTEGER" />
    <result column="choice_a" property="choiceA" jdbcType="VARCHAR" />
    <result column="choice_b" property="choiceB" jdbcType="VARCHAR" />
    <result column="choice_c" property="choiceC" jdbcType="VARCHAR" />
    <result column="choice_d" property="choiceD" jdbcType="VARCHAR" />
    <result column="choice_e" property="choiceE" jdbcType="VARCHAR" />
    <result column="choice_f" property="choiceF" jdbcType="VARCHAR" />
    <result column="created" property="created" jdbcType="TIMESTAMP" />
    <result column="updated" property="updated" jdbcType="TIMESTAMP" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.qianqi.edu.pojo.QuestionSingle" extends="BaseResultMap" >
    <result column="context" property="context" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, answer, score, teacher_id, subject_id, grade_id, difficult, knowledge_point, 
    normal_time, choice_a, choice_b, choice_c, choice_d, choice_e, choice_f, created, 
    updated
  </sql>
  <sql id="Blob_Column_List" >
    context
  </sql>
  <select id="selectByExampleWithBLOBs" resultMap="ResultMapWithBLOBs" parameterType="com.qianqi.edu.pojo.QuestionSingleExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from question_single
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.qianqi.edu.pojo.QuestionSingleExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from question_single
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from question_single
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from question_single
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.qianqi.edu.pojo.QuestionSingleExample" >
    delete from question_single
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.qianqi.edu.pojo.QuestionSingle" >
    insert into question_single (id, answer, score, 
      teacher_id, subject_id, grade_id, 
      difficult, knowledge_point, normal_time, 
      choice_a, choice_b, choice_c, 
      choice_d, choice_e, choice_f, 
      created, updated, context
      )
    values (#{id,jdbcType=BIGINT}, #{answer,jdbcType=VARCHAR}, #{score,jdbcType=INTEGER}, 
      #{teacherId,jdbcType=BIGINT}, #{subjectId,jdbcType=INTEGER}, #{gradeId,jdbcType=INTEGER}, 
      #{difficult,jdbcType=INTEGER}, #{knowledgePoint,jdbcType=VARCHAR}, #{normalTime,jdbcType=INTEGER}, 
      #{choiceA,jdbcType=VARCHAR}, #{choiceB,jdbcType=VARCHAR}, #{choiceC,jdbcType=VARCHAR}, 
      #{choiceD,jdbcType=VARCHAR}, #{choiceE,jdbcType=VARCHAR}, #{choiceF,jdbcType=VARCHAR}, 
      #{created,jdbcType=TIMESTAMP}, #{updated,jdbcType=TIMESTAMP}, #{context,jdbcType=LONGVARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.qianqi.edu.pojo.QuestionSingle" >
    insert into question_single
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="answer != null" >
        answer,
      </if>
      <if test="score != null" >
        score,
      </if>
      <if test="teacherId != null" >
        teacher_id,
      </if>
      <if test="subjectId != null" >
        subject_id,
      </if>
      <if test="gradeId != null" >
        grade_id,
      </if>
      <if test="difficult != null" >
        difficult,
      </if>
      <if test="knowledgePoint != null" >
        knowledge_point,
      </if>
      <if test="normalTime != null" >
        normal_time,
      </if>
      <if test="choiceA != null" >
        choice_a,
      </if>
      <if test="choiceB != null" >
        choice_b,
      </if>
      <if test="choiceC != null" >
        choice_c,
      </if>
      <if test="choiceD != null" >
        choice_d,
      </if>
      <if test="choiceE != null" >
        choice_e,
      </if>
      <if test="choiceF != null" >
        choice_f,
      </if>
      <if test="created != null" >
        created,
      </if>
      <if test="updated != null" >
        updated,
      </if>
      <if test="context != null" >
        context,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="answer != null" >
        #{answer,jdbcType=VARCHAR},
      </if>
      <if test="score != null" >
        #{score,jdbcType=INTEGER},
      </if>
      <if test="teacherId != null" >
        #{teacherId,jdbcType=BIGINT},
      </if>
      <if test="subjectId != null" >
        #{subjectId,jdbcType=INTEGER},
      </if>
      <if test="gradeId != null" >
        #{gradeId,jdbcType=INTEGER},
      </if>
      <if test="difficult != null" >
        #{difficult,jdbcType=INTEGER},
      </if>
      <if test="knowledgePoint != null" >
        #{knowledgePoint,jdbcType=VARCHAR},
      </if>
      <if test="normalTime != null" >
        #{normalTime,jdbcType=INTEGER},
      </if>
      <if test="choiceA != null" >
        #{choiceA,jdbcType=VARCHAR},
      </if>
      <if test="choiceB != null" >
        #{choiceB,jdbcType=VARCHAR},
      </if>
      <if test="choiceC != null" >
        #{choiceC,jdbcType=VARCHAR},
      </if>
      <if test="choiceD != null" >
        #{choiceD,jdbcType=VARCHAR},
      </if>
      <if test="choiceE != null" >
        #{choiceE,jdbcType=VARCHAR},
      </if>
      <if test="choiceF != null" >
        #{choiceF,jdbcType=VARCHAR},
      </if>
      <if test="created != null" >
        #{created,jdbcType=TIMESTAMP},
      </if>
      <if test="updated != null" >
        #{updated,jdbcType=TIMESTAMP},
      </if>
      <if test="context != null" >
        #{context,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.qianqi.edu.pojo.QuestionSingleExample" resultType="java.lang.Integer" >
    select count(*) from question_single
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update question_single
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.answer != null" >
        answer = #{record.answer,jdbcType=VARCHAR},
      </if>
      <if test="record.score != null" >
        score = #{record.score,jdbcType=INTEGER},
      </if>
      <if test="record.teacherId != null" >
        teacher_id = #{record.teacherId,jdbcType=BIGINT},
      </if>
      <if test="record.subjectId != null" >
        subject_id = #{record.subjectId,jdbcType=INTEGER},
      </if>
      <if test="record.gradeId != null" >
        grade_id = #{record.gradeId,jdbcType=INTEGER},
      </if>
      <if test="record.difficult != null" >
        difficult = #{record.difficult,jdbcType=INTEGER},
      </if>
      <if test="record.knowledgePoint != null" >
        knowledge_point = #{record.knowledgePoint,jdbcType=VARCHAR},
      </if>
      <if test="record.normalTime != null" >
        normal_time = #{record.normalTime,jdbcType=INTEGER},
      </if>
      <if test="record.choiceA != null" >
        choice_a = #{record.choiceA,jdbcType=VARCHAR},
      </if>
      <if test="record.choiceB != null" >
        choice_b = #{record.choiceB,jdbcType=VARCHAR},
      </if>
      <if test="record.choiceC != null" >
        choice_c = #{record.choiceC,jdbcType=VARCHAR},
      </if>
      <if test="record.choiceD != null" >
        choice_d = #{record.choiceD,jdbcType=VARCHAR},
      </if>
      <if test="record.choiceE != null" >
        choice_e = #{record.choiceE,jdbcType=VARCHAR},
      </if>
      <if test="record.choiceF != null" >
        choice_f = #{record.choiceF,jdbcType=VARCHAR},
      </if>
      <if test="record.created != null" >
        created = #{record.created,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updated != null" >
        updated = #{record.updated,jdbcType=TIMESTAMP},
      </if>
      <if test="record.context != null" >
        context = #{record.context,jdbcType=LONGVARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExampleWithBLOBs" parameterType="map" >
    update question_single
    set id = #{record.id,jdbcType=BIGINT},
      answer = #{record.answer,jdbcType=VARCHAR},
      score = #{record.score,jdbcType=INTEGER},
      teacher_id = #{record.teacherId,jdbcType=BIGINT},
      subject_id = #{record.subjectId,jdbcType=INTEGER},
      grade_id = #{record.gradeId,jdbcType=INTEGER},
      difficult = #{record.difficult,jdbcType=INTEGER},
      knowledge_point = #{record.knowledgePoint,jdbcType=VARCHAR},
      normal_time = #{record.normalTime,jdbcType=INTEGER},
      choice_a = #{record.choiceA,jdbcType=VARCHAR},
      choice_b = #{record.choiceB,jdbcType=VARCHAR},
      choice_c = #{record.choiceC,jdbcType=VARCHAR},
      choice_d = #{record.choiceD,jdbcType=VARCHAR},
      choice_e = #{record.choiceE,jdbcType=VARCHAR},
      choice_f = #{record.choiceF,jdbcType=VARCHAR},
      created = #{record.created,jdbcType=TIMESTAMP},
      updated = #{record.updated,jdbcType=TIMESTAMP},
      context = #{record.context,jdbcType=LONGVARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update question_single
    set id = #{record.id,jdbcType=BIGINT},
      answer = #{record.answer,jdbcType=VARCHAR},
      score = #{record.score,jdbcType=INTEGER},
      teacher_id = #{record.teacherId,jdbcType=BIGINT},
      subject_id = #{record.subjectId,jdbcType=INTEGER},
      grade_id = #{record.gradeId,jdbcType=INTEGER},
      difficult = #{record.difficult,jdbcType=INTEGER},
      knowledge_point = #{record.knowledgePoint,jdbcType=VARCHAR},
      normal_time = #{record.normalTime,jdbcType=INTEGER},
      choice_a = #{record.choiceA,jdbcType=VARCHAR},
      choice_b = #{record.choiceB,jdbcType=VARCHAR},
      choice_c = #{record.choiceC,jdbcType=VARCHAR},
      choice_d = #{record.choiceD,jdbcType=VARCHAR},
      choice_e = #{record.choiceE,jdbcType=VARCHAR},
      choice_f = #{record.choiceF,jdbcType=VARCHAR},
      created = #{record.created,jdbcType=TIMESTAMP},
      updated = #{record.updated,jdbcType=TIMESTAMP}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.qianqi.edu.pojo.QuestionSingle" >
    update question_single
    <set >
      <if test="answer != null" >
        answer = #{answer,jdbcType=VARCHAR},
      </if>
      <if test="score != null" >
        score = #{score,jdbcType=INTEGER},
      </if>
      <if test="teacherId != null" >
        teacher_id = #{teacherId,jdbcType=BIGINT},
      </if>
      <if test="subjectId != null" >
        subject_id = #{subjectId,jdbcType=INTEGER},
      </if>
      <if test="gradeId != null" >
        grade_id = #{gradeId,jdbcType=INTEGER},
      </if>
      <if test="difficult != null" >
        difficult = #{difficult,jdbcType=INTEGER},
      </if>
      <if test="knowledgePoint != null" >
        knowledge_point = #{knowledgePoint,jdbcType=VARCHAR},
      </if>
      <if test="normalTime != null" >
        normal_time = #{normalTime,jdbcType=INTEGER},
      </if>
      <if test="choiceA != null" >
        choice_a = #{choiceA,jdbcType=VARCHAR},
      </if>
      <if test="choiceB != null" >
        choice_b = #{choiceB,jdbcType=VARCHAR},
      </if>
      <if test="choiceC != null" >
        choice_c = #{choiceC,jdbcType=VARCHAR},
      </if>
      <if test="choiceD != null" >
        choice_d = #{choiceD,jdbcType=VARCHAR},
      </if>
      <if test="choiceE != null" >
        choice_e = #{choiceE,jdbcType=VARCHAR},
      </if>
      <if test="choiceF != null" >
        choice_f = #{choiceF,jdbcType=VARCHAR},
      </if>
      <if test="created != null" >
        created = #{created,jdbcType=TIMESTAMP},
      </if>
      <if test="updated != null" >
        updated = #{updated,jdbcType=TIMESTAMP},
      </if>
      <if test="context != null" >
        context = #{context,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.qianqi.edu.pojo.QuestionSingle" >
    update question_single
    set answer = #{answer,jdbcType=VARCHAR},
      score = #{score,jdbcType=INTEGER},
      teacher_id = #{teacherId,jdbcType=BIGINT},
      subject_id = #{subjectId,jdbcType=INTEGER},
      grade_id = #{gradeId,jdbcType=INTEGER},
      difficult = #{difficult,jdbcType=INTEGER},
      knowledge_point = #{knowledgePoint,jdbcType=VARCHAR},
      normal_time = #{normalTime,jdbcType=INTEGER},
      choice_a = #{choiceA,jdbcType=VARCHAR},
      choice_b = #{choiceB,jdbcType=VARCHAR},
      choice_c = #{choiceC,jdbcType=VARCHAR},
      choice_d = #{choiceD,jdbcType=VARCHAR},
      choice_e = #{choiceE,jdbcType=VARCHAR},
      choice_f = #{choiceF,jdbcType=VARCHAR},
      created = #{created,jdbcType=TIMESTAMP},
      updated = #{updated,jdbcType=TIMESTAMP},
      context = #{context,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.qianqi.edu.pojo.QuestionSingle" >
    update question_single
    set answer = #{answer,jdbcType=VARCHAR},
      score = #{score,jdbcType=INTEGER},
      teacher_id = #{teacherId,jdbcType=BIGINT},
      subject_id = #{subjectId,jdbcType=INTEGER},
      grade_id = #{gradeId,jdbcType=INTEGER},
      difficult = #{difficult,jdbcType=INTEGER},
      knowledge_point = #{knowledgePoint,jdbcType=VARCHAR},
      normal_time = #{normalTime,jdbcType=INTEGER},
      choice_a = #{choiceA,jdbcType=VARCHAR},
      choice_b = #{choiceB,jdbcType=VARCHAR},
      choice_c = #{choiceC,jdbcType=VARCHAR},
      choice_d = #{choiceD,jdbcType=VARCHAR},
      choice_e = #{choiceE,jdbcType=VARCHAR},
      choice_f = #{choiceF,jdbcType=VARCHAR},
      created = #{created,jdbcType=TIMESTAMP},
      updated = #{updated,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>