<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.qianqi.edu.mapper.StaQuestionMapper" >
  <resultMap id="BaseResultMap" type="com.qianqi.edu.pojo.StaQuestion" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="school_id" property="schoolId" jdbcType="INTEGER" />
    <result column="grade_id" property="gradeId" jdbcType="INTEGER" />
    <result column="subject_id" property="subjectId" jdbcType="INTEGER" />
    <result column="tclass_id" property="tclassId" jdbcType="BIGINT" />
    <result column="teacher_id" property="teacherId" jdbcType="BIGINT" />
    <result column="student_id" property="studentId" jdbcType="BIGINT" />
    <result column="paper_id" property="paperId" jdbcType="BIGINT" />
    <result column="question_id" property="questionId" jdbcType="BIGINT" />
    <result column="difficult" property="difficult" jdbcType="INTEGER" />
    <result column="knowledge_id" property="knowledgeId" jdbcType="BIGINT" />
    <result column="answer_time" property="answerTime" jdbcType="BIGINT" />
    <result column="answer_result" property="answerResult" jdbcType="INTEGER" />
    <result column="objective" property="objective" jdbcType="INTEGER" />
    <result column="created" property="created" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, school_id, grade_id, subject_id, tclass_id, teacher_id, student_id, paper_id, 
    question_id, difficult, knowledge_id, answer_time, answer_result, objective, created
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.qianqi.edu.pojo.StaQuestionExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from sta_question
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from sta_question
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from sta_question
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.qianqi.edu.pojo.StaQuestionExample" >
    delete from sta_question
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.qianqi.edu.pojo.StaQuestion" >
    insert into sta_question (id, school_id, grade_id, 
      subject_id, tclass_id, teacher_id, 
      student_id, paper_id, question_id, 
      difficult, knowledge_id, answer_time, 
      answer_result, objective, created
      )
    values (#{id,jdbcType=BIGINT}, #{schoolId,jdbcType=INTEGER}, #{gradeId,jdbcType=INTEGER}, 
      #{subjectId,jdbcType=INTEGER}, #{tclassId,jdbcType=BIGINT}, #{teacherId,jdbcType=BIGINT}, 
      #{studentId,jdbcType=BIGINT}, #{paperId,jdbcType=BIGINT}, #{questionId,jdbcType=BIGINT}, 
      #{difficult,jdbcType=INTEGER}, #{knowledgeId,jdbcType=BIGINT}, #{answerTime,jdbcType=BIGINT}, 
      #{answerResult,jdbcType=INTEGER}, #{objective,jdbcType=INTEGER}, #{created,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.qianqi.edu.pojo.StaQuestion" >
    insert into sta_question
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="schoolId != null" >
        school_id,
      </if>
      <if test="gradeId != null" >
        grade_id,
      </if>
      <if test="subjectId != null" >
        subject_id,
      </if>
      <if test="tclassId != null" >
        tclass_id,
      </if>
      <if test="teacherId != null" >
        teacher_id,
      </if>
      <if test="studentId != null" >
        student_id,
      </if>
      <if test="paperId != null" >
        paper_id,
      </if>
      <if test="questionId != null" >
        question_id,
      </if>
      <if test="difficult != null" >
        difficult,
      </if>
      <if test="knowledgeId != null" >
        knowledge_id,
      </if>
      <if test="answerTime != null" >
        answer_time,
      </if>
      <if test="answerResult != null" >
        answer_result,
      </if>
      <if test="objective != null" >
        objective,
      </if>
      <if test="created != null" >
        created,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="schoolId != null" >
        #{schoolId,jdbcType=INTEGER},
      </if>
      <if test="gradeId != null" >
        #{gradeId,jdbcType=INTEGER},
      </if>
      <if test="subjectId != null" >
        #{subjectId,jdbcType=INTEGER},
      </if>
      <if test="tclassId != null" >
        #{tclassId,jdbcType=BIGINT},
      </if>
      <if test="teacherId != null" >
        #{teacherId,jdbcType=BIGINT},
      </if>
      <if test="studentId != null" >
        #{studentId,jdbcType=BIGINT},
      </if>
      <if test="paperId != null" >
        #{paperId,jdbcType=BIGINT},
      </if>
      <if test="questionId != null" >
        #{questionId,jdbcType=BIGINT},
      </if>
      <if test="difficult != null" >
        #{difficult,jdbcType=INTEGER},
      </if>
      <if test="knowledgeId != null" >
        #{knowledgeId,jdbcType=BIGINT},
      </if>
      <if test="answerTime != null" >
        #{answerTime,jdbcType=BIGINT},
      </if>
      <if test="answerResult != null" >
        #{answerResult,jdbcType=INTEGER},
      </if>
      <if test="objective != null" >
        #{objective,jdbcType=INTEGER},
      </if>
      <if test="created != null" >
        #{created,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.qianqi.edu.pojo.StaQuestionExample" resultType="java.lang.Integer" >
    select count(*) from sta_question
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update sta_question
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.schoolId != null" >
        school_id = #{record.schoolId,jdbcType=INTEGER},
      </if>
      <if test="record.gradeId != null" >
        grade_id = #{record.gradeId,jdbcType=INTEGER},
      </if>
      <if test="record.subjectId != null" >
        subject_id = #{record.subjectId,jdbcType=INTEGER},
      </if>
      <if test="record.tclassId != null" >
        tclass_id = #{record.tclassId,jdbcType=BIGINT},
      </if>
      <if test="record.teacherId != null" >
        teacher_id = #{record.teacherId,jdbcType=BIGINT},
      </if>
      <if test="record.studentId != null" >
        student_id = #{record.studentId,jdbcType=BIGINT},
      </if>
      <if test="record.paperId != null" >
        paper_id = #{record.paperId,jdbcType=BIGINT},
      </if>
      <if test="record.questionId != null" >
        question_id = #{record.questionId,jdbcType=BIGINT},
      </if>
      <if test="record.difficult != null" >
        difficult = #{record.difficult,jdbcType=INTEGER},
      </if>
      <if test="record.knowledgeId != null" >
        knowledge_id = #{record.knowledgeId,jdbcType=BIGINT},
      </if>
      <if test="record.answerTime != null" >
        answer_time = #{record.answerTime,jdbcType=BIGINT},
      </if>
      <if test="record.answerResult != null" >
        answer_result = #{record.answerResult,jdbcType=INTEGER},
      </if>
      <if test="record.objective != null" >
        objective = #{record.objective,jdbcType=INTEGER},
      </if>
      <if test="record.created != null" >
        created = #{record.created,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update sta_question
    set id = #{record.id,jdbcType=BIGINT},
      school_id = #{record.schoolId,jdbcType=INTEGER},
      grade_id = #{record.gradeId,jdbcType=INTEGER},
      subject_id = #{record.subjectId,jdbcType=INTEGER},
      tclass_id = #{record.tclassId,jdbcType=BIGINT},
      teacher_id = #{record.teacherId,jdbcType=BIGINT},
      student_id = #{record.studentId,jdbcType=BIGINT},
      paper_id = #{record.paperId,jdbcType=BIGINT},
      question_id = #{record.questionId,jdbcType=BIGINT},
      difficult = #{record.difficult,jdbcType=INTEGER},
      knowledge_id = #{record.knowledgeId,jdbcType=BIGINT},
      answer_time = #{record.answerTime,jdbcType=BIGINT},
      answer_result = #{record.answerResult,jdbcType=INTEGER},
      objective = #{record.objective,jdbcType=INTEGER},
      created = #{record.created,jdbcType=TIMESTAMP}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.qianqi.edu.pojo.StaQuestion" >
    update sta_question
    <set >
      <if test="schoolId != null" >
        school_id = #{schoolId,jdbcType=INTEGER},
      </if>
      <if test="gradeId != null" >
        grade_id = #{gradeId,jdbcType=INTEGER},
      </if>
      <if test="subjectId != null" >
        subject_id = #{subjectId,jdbcType=INTEGER},
      </if>
      <if test="tclassId != null" >
        tclass_id = #{tclassId,jdbcType=BIGINT},
      </if>
      <if test="teacherId != null" >
        teacher_id = #{teacherId,jdbcType=BIGINT},
      </if>
      <if test="studentId != null" >
        student_id = #{studentId,jdbcType=BIGINT},
      </if>
      <if test="paperId != null" >
        paper_id = #{paperId,jdbcType=BIGINT},
      </if>
      <if test="questionId != null" >
        question_id = #{questionId,jdbcType=BIGINT},
      </if>
      <if test="difficult != null" >
        difficult = #{difficult,jdbcType=INTEGER},
      </if>
      <if test="knowledgeId != null" >
        knowledge_id = #{knowledgeId,jdbcType=BIGINT},
      </if>
      <if test="answerTime != null" >
        answer_time = #{answerTime,jdbcType=BIGINT},
      </if>
      <if test="answerResult != null" >
        answer_result = #{answerResult,jdbcType=INTEGER},
      </if>
      <if test="objective != null" >
        objective = #{objective,jdbcType=INTEGER},
      </if>
      <if test="created != null" >
        created = #{created,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.qianqi.edu.pojo.StaQuestion" >
    update sta_question
    set school_id = #{schoolId,jdbcType=INTEGER},
      grade_id = #{gradeId,jdbcType=INTEGER},
      subject_id = #{subjectId,jdbcType=INTEGER},
      tclass_id = #{tclassId,jdbcType=BIGINT},
      teacher_id = #{teacherId,jdbcType=BIGINT},
      student_id = #{studentId,jdbcType=BIGINT},
      paper_id = #{paperId,jdbcType=BIGINT},
      question_id = #{questionId,jdbcType=BIGINT},
      difficult = #{difficult,jdbcType=INTEGER},
      knowledge_id = #{knowledgeId,jdbcType=BIGINT},
      answer_time = #{answerTime,jdbcType=BIGINT},
      answer_result = #{answerResult,jdbcType=INTEGER},
      objective = #{objective,jdbcType=INTEGER},
      created = #{created,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>